*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(67, 187, 107);
    flex-direction: column;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.box-container, .control{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color:white;
    width: 350px;
    height: 70px;
    border-radius: 5px;
    padding: 0 55px 0 55px;
    margin-bottom: 50px;
}

.slider{
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.slider .value1, .slider .value2{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color:rgb(67, 187, 107);
}

.slider .value1{
    left: -43px;
}

.slider .value2{
    right: -43px;
}

.range{
    position: relative;
    width: 100%;
    text-align: center;
}

.range span{
    position: absolute;
    height: 45px;
    width: 45px;
    color: white;
    font-weight: 600;
    top: -40px;
    transform: translateX(-50%) translateY(-20%) scale(0);
    transform-origin: bottom;
    transition: transform .3s ease-in-out;
    line-height: 55px;
    z-index: 2;
}

.range span::after{
    content: '';
    position: absolute;
    height: 45px;
    width: 45px;
    left: 50%;
    background-color: rgb(67, 187, 107);
    transform: translateX(-50%) translateY(10%) rotate(45deg);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: 3px solid white;
    z-index: -1;
}

.range span.show{
    transform: translateX(-50%) translateY(-20%) scale(1);
}

.slider input{
    height: 3px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

.box{
    background-color: white;
    width: 500px;
    height: 500px;
}


@media screen and (max-width: 786px){
    .box{
        width: 50%;
        height: 63%;
    }

    main{
        flex-direction: column;
    }
}

@media screen and (max-width: 360px){
    .box{
        width: 50%;
        height: 63%;
    }

    .container{
        margin-bottom: 20px;
    }
}